<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />	
	<link rel="stylesheet" href="/media/css/styles.css">
	<title>Torneo de Golf</title>
</head>
<body>



<section class="main">
	
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






<!-- 
<p>Grupo Rivero te invita a participar y ganar un viaje a las Vegas con todo pagado, participara toda persona que llene el total de los cuestionarios que se encuentrena a lo largo de los hoyos.  </p> 
 -->
<!--  

<p>This is an entirely not-for-profit, community initiative, motivated by a belief that there are more and better ways to live than the nuclear family. We want to get a better picture of the communities making this happen. </p>
-->



<br>

<h4>
	<img class="logo"  src="../media/img/logo.png" alt=""><a href="/survey/1"><span class="shadow">ATS 2014</span></a>
</h4><br><br><br>

<h4>
		<img class="logo"  src="../media/img/logo.png" alt=""><a href="/survey/2"><span class="shadow"> CTS 2014</span></a>
</h4><br><br><br>

<h4>
		<img class="logo"  src="../media/img/logo.png" alt=""><a href="/survey/3"><span class="shadow">SRX 2014</span></a>
</h4><br><br><br>

<h4>
		<img class="logo"  src="../media/img/logo.png" alt=""><a href="/survey/4"><span class="shadow">ESCALADE 2015</span></a>
</h4>
	<!-- 
	<a href="/privacy/">Read the Privacy Statement</a>
	 -->


</section>
	
</body>
</html>